*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    background-color: #f0f0f0;
}

nav{
    background-color: rgba(154, 228, 179, 0.7);
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

div{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    display: flex;
}


.logo{
    width: 550px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.link-css:visited{
    color: green;
}

.css--activeButton{
    background-color: #FE9A05;
    height: 12rem;
    border-radius: 0 0 1.2rem 1.2rem;
    position:sticky;
    z-index: 1;
}

.css--tijdVak{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    width: 6vw;
    margin-top: 1rem;
    margin-left: 6rem;
}

/* ALGEMEEN */

.css--grafMain, .css--settingsMain, .css--contactMain{
    display:grid;
    min-height: 85vh;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 2rem;
}

.css--article{
    box-shadow: 0.5rem 0.5rem 1rem 0 #acacac;
    background-color: white;
    border-radius: 1.2rem;
    height: 100%;
}

/* GRAFIEKEN */

.css--weerBalkArt{
    grid-row: 1 / 3;
    grid-column: 1 / 14;
}
.weatherwidget-io{
    margin-top: 2rem;
    border-radius: 1.2rem;
}

.css--WDataArt{
    grid-row: 3 / 11;
    grid-column: 2 / 5;
}

.css--BRArt{
    grid-row: 3 / 12;
    grid-column: 5 / 8
}

.css--SUSDArt{
    grid-row: 3 / 8;
    grid-column: 8 / 11;
}

.css--graphArt{
    grid-row: 8 / 12;
    grid-column: 8 / 12;
    border-radius: 1.2rem 0 0 1.2rem;
}
.css--KWArt{
    grid-row: 3 / 12;
    grid-column: 11 / 13;
    border-radius: 1.2rem 1.2rem 1.2rem 0;
}
.css--SUSDArt css--article{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 9.5rem;
}

/* SETTINGS */

.css--settingsTextArt{
    grid-row: 2 / 7;
    grid-column: 2 / 9;
}

.css--settingsTextArt > h2{
    text-align: center;
    margin-top: 11%;
}

.css--settingsSliderArt{
    grid-row: 7 / 12;
    grid-column: 2 / 9;
}

.css--settingsColorArt{
    grid-row: 2 / 12;
    grid-column: 9 / 13;
}

.css--settingsSliderArt > input{
    margin-top: 11%;
    margin-left: 10%;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 12%;
    border-radius: 0.6rem;
    border: 0.4rem solid #acacac; 
}
.css--settingsSliderArt > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FE9A05;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.css--colorPicker{
    width: 10rem;
    height: 10rem;
    border: none;
    display:none;
}
.css--colorButton{
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
}
.css--redColorButton{
    padding: 5rem 5rem;
    background: red;
}
.css--blueColorButton{
    padding: 5rem 5rem;
    background: blue;
}
.css--greenColorButton{
    padding: 5rem 5rem;
    background: green;
}
.css--orangeColorButton{
    padding: 5rem 5rem;
    background: orange;
}
.css--camoColorButton{
    padding: 5rem 5rem;
    background: linear-gradient(rgb(82, 117, 82), rgb(224, 224, 187));
}
.css--sunPicturesContainer {
    display: flex;
    justify-content: space-between; /* Adjust spacing between the pictures */
    align-items: center; /* Align items vertically */
    gap: 4rem; /* Increase space between the pictures */
    padding: 2rem; /* Optional: Add padding inside the container */
}

.css--sunPicture {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%; /* Make the images significantly larger */
    height: auto; /* Maintain aspect ratio */
    border-radius: 1.5rem; /* Optional: Add more rounded corners */
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); /* Optional: Add a stronger shadow */
}
h3 {
    font-size: large;
    text-align: center;
    margin-top: 1rem;
}


/* CONTACT */

.css--contactArt{
    grid-row: 2 / 12;
    grid-column: 2 / 10;
    display: flex;
    flex-direction: column;
}

.css--contactInfoArt{
    grid-row: 2 / 12;
    grid-column: 10 / 13;
}

.css--contactP{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.css--contactNaam, .css--contactOnderwerp{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 90%;
    height: 6rem;
    border: 1px solid #707070;
    border-radius: 0.5rem;
}

.css--contactToelichting{
    margin-top: 1rem;
    width: 90%;
    height: 25rem;
    border: 1px solid #707070;
    border-radius: 0.5rem;
}

.css--contactVerstuur{
    margin-top: 2rem;
    margin-left: 77%;
    background: #FE9A05;
    color: white;
    border: none;
    border-radius: 12rem;
    width: 15rem;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

/* FOOTER */

footer{
    background: rgb(26, 92, 48);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}